root: true

rules:
  block-opening-brace-space-before: [2, 'always']
  block-opening-brace-newline-after: [2, 'always']
  block-closing-brace-newline-before: [2, 'always']
  block-closing-brace-newline-after: [2, 'always']
  declaration-block-semicolon-space-before: [2, 'never']
  declaration-block-semicolon-newline-before: [2, 'never-multi-line']
  declaration-block-semicolon-newline-after: [2, 'always']
  declaration-colon-space-before: [2, 'never']
  declaration-colon-space-after: [2, 'always']
  indentation: [2, 2]
  selector-pseudo-element-colon-notation: [2, 'double']
