rules:
  block-opening-brace-space-before: 'always'
  block-opening-brace-newline-after: 'always'
  block-closing-brace-newline-before: 'always'
  block-closing-brace-newline-after: 'always'
  declaration-block-semicolon-space-before: 'never'
  declaration-block-semicolon-newline-before: 'never-multi-line'
  declaration-block-semicolon-newline-after: 'always'
  declaration-colon-space-before: 'never'
  declaration-colon-space-after: 'always'
  indentation: 2
  selector-pseudo-element-colon-notation: 'double'
